@font-face {
    font-family: custom;
    src: url("LeagueSpartan-Bold.otf");
}

html {
    min-height:100%;
    
}

body {
    background-color: #c5a177;
    /* background-color: #c0c0c0; */
}

h1 {
    color: #cc6600;
    font-family: custom;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3;
}

/*Table Head*/
thead th {
    background-color: rgb(97, 92, 172);
    border: 2px solid black;
    height: 55px;
}

thead td {
    background-color: rgb(97, 92, 172);
}

/*Table Body*/
tbody th {
    background-color: rgb(97, 92, 172);
    border: 2px solid black;
    height: 33%;
}

tbody td {
    border: 1px solid black;
}

tbody tr:nth-child(1) {
    background-color: #ffd700;
}

tbody tr:nth-child(2) {
    background-color: #c0c0c0;
}

tbody tr:nth-child(3) {
    background-color: #c0782f;
}

table#table1 {
    table-layout: fixed;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    border: 3px solid black;
    border-collapse: collapse;
    grid-column-start: 1;
    grid-column-end: 4;
}

/*About Page Grid*/
.aboutwrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 4fr .5fr;
    gap: 5px 5px;
    height: 915px;
    /* border: .3rem solid #ee6204;
    border-style: outset; */
}

.homewrap {
    display: grid;
    grid-template-rows: .5fr 1fr 2fr 2fr .5fr;
    gap: 5px 10px;
    height: 915px;
}

.contactwrap {
    display: grid;
    grid-template-rows:.5fr 1fr 3fr .5fr;
    gap: 5px 10px;
    height: 915px;
}

.contactwrap * {
    text-align: center;
    /* background-color: rgb(193, 122, 226); */
}

.reflectwrap {
    display: grid;
    grid-template-rows: 1fr 1fr 7fr 5fr 1fr;
    gap: 5px 10px;
    height: 915px;
}

.dribblewrap {
    display: grid;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    gap: 5px 5px;
    height: 915px;
}

.dribblewrap *{
    /* background-color: rgb(193, 122, 226); */
    text-align: center;
}

/*Inside of About Page Grid*/
.aboutwrap * {
    /* background-color: rgb(192, 153, 228); */
    text-align: center;
    /* margin: 0px 0px 0px 0px;  */
    /* top right bottom left */
}


.homewrap *{
    /* background-color: rgb(192, 153, 228); */
    text-align: center;
    /* margin: 2px 0px 0 5px; */
}


.reflectwrap *{
    /* background-color: rgb(192, 153, 228); */
    text-align: center;
    /* margin: 2px 0px 0 5px; */
}

/*Learn Page CSS*/
.container {  
    display: grid;
    text-align: center;
    grid-template-columns: 1.5fr .1fr 1.3fr;
    grid-template-rows: .8fr .7fr 1fr 1.5fr 1.5fr 1.5fr 0.2fr .7fr;
    gap: 2px 2px;
    height:915px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "navigation navigation navigation"
      "pagetitle pagetitle pagetitle"
      "dribble . image"
      "Shoot . video"
      "rules . therules"
      ". . ."
      "footer footer footer";
  }
  
.pagetitle { grid-area: pagetitle; }
.dribble { grid-area: dribble; }
.Shoot { grid-area: Shoot; }
.rules { grid-area: rules; }
.image { grid-area: image; }


.video { grid-area: video;
    position: relative;
    height: 0;
    padding-bottom: 20.25%;
    overflow: hidden;
    
}

.therules { grid-area: therules; }
.footer { grid-area: footer;
    background-image: url(images/court2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4; }
.title { grid-area: title; }
.navigation { grid-area: navigation; }

/* .container * {
    background-color: aqua;
} */

header {
    grid-column-start: 1;
    grid-column-end: 4;
}

nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(images/court2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

/*About Page element*/
content {
    font-family: custom;
}

extra {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#aboutmain {
    grid-column-start: 1;
    grid-column-end: 2;
}

#indexmain {
    grid-column-start: 1;
    grid-column-end: 4;
}

.transform:hover {
    width: 32px;
    height: 32px;
    animation-name: hover;
    transform: scale(1.6);
}

.small {
    width: 128px;
    height: 128px;
}

/* Style the form - display items horizontally */
.form-inline {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
  /* Add some margins for each label */
.form-inline label {
    display: inline-block;
    margin: auto;
    padding: 5px;
}
  
  /* Style the input fields */
.form-inline input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.form-inline textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  
  /* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: rgb(141, 136, 207);
    border: 1px solid #ddd;
    color: white;
}
  
.form-inline button:hover {
    background-color: rgb(149, 168, 224);
}
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
}
/*max-width means once you are smaller than the px amount then the changes take place.
Min-Width screen > px count then the changes occur*/
@media (max-width: 1250px) {
    p {
        font-size: .7em;
        line-height: 1.6;
    }

    h2 {
        font-size: .8em;
    }

    /* h1 {
        font-size: 1em;
    } */
}

@media (max-width: 750px) {
    p {
        font-size: .6em;
        line-height: 1.6;
    }

    h2 {
        font-size: .7em;
    }

    /* h1 {
        font-size: 1em;
    } */
}

@media (max-width: 400px) {
    p {
        font-size: .55em;
        line-height: 1.5;
    }

    h2 {
        font-size: .7em;
    }
}
/*Image Media Query, specifically focusing about.html*/
@media (max-width: 1000px) {
    img {
        max-width: 170px;
        max-height: 200px;
    }
}

@media (max-width: 750px) {
    img {
        max-width: 100px;
        max-height: 130px;
    }
}

@media (max-width: 400px) {
    img {
        max-width: 100px;
        max-height: 130px;
    }
}

@media only screen and (max-width: 400px) {
    table#table1 {
        margin-left: 100px;
    }
}
/*Video Media Query*/
/* @media (max-width: 1000px) {
    iframe {
        max-width: 420px;
        max-height: 215px;
    }
}

@media (max-width: 750px) {
    iframe {
        max-width: 300px;
        max-height: 145px;
    }
}

@media (max-width: 400px) {
    iframe {
        max-width: 100px;
        max-height: 130px;
    }
} */
/*Print Stylesheet*/
@media print {
    * {
        background: transparent !important; 
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family: sans-serif;
    }
    img, iframe{
        display: none;
    }
    @page {
        margin: 1in;
    }
}

@media only screen and (max-width: 1250px) {
    tr {
        font-size: 16px;
    }

    table#table1 {
        width: 50%;
        margin-left:25%;
        margin-right: 25%;
    }
}

@media only screen and (max-width: 800px) {
    tr {
        font-size: 12px;
    }

    table#table1 {
        width: 90%;
        margin-left:5%;
        margin-right:5%;
    }
}